{% extends 'dashboard.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/addequipments.css') }}">
{% endblock %}
{% block main %}
<title>Add new Equipment</title>
<h1>Add new Equipment</h1>
<form action="/dashboard/equipments/add" method=post enctype=multipart/form-data>
  <label for="name">Equipment Name</label>
  <input type="text" name="name" id="name">
  <label for="type">Equipment Type</label>
  <input type="text" name="type" id="type">
  <label for="file">Select File</label>
  <input type=file name=file>
  <br>
  <input type=submit value=Upload>
</form>

{% endblock %}