<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    {% block head %} {% endblock %}
</head>

<body>
    <header>
        <a href="/" class="logo">
            <h2 class="logo">B B Fitness</h2>
        </a>
        <nav class="navigation">
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/about">About</a>
            <!-- <a class="nav-item" href="#"></a> -->
            {% if "_id" in session %}
            <a class="nav-item" href="/dashboard">Dashboard</a>
            {% endif %}
            <!-- <button class="btnLogin-popup">Login</button> -->
            {% if "_id" in session %}
            <a href="/logout"><button class="btnLogout-popup">Logout</button></a>
            {% else %}

            <a href="/#login"><button class="btnLogin-popup">Login</button></a>
            {% endif %}

        </nav>
    </header>



    {% block content %}{% endblock %}


    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>


</body>

</html>