{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles/dashboard.css">
{% block styles %}{% endblock %}
{% endblock %}

{% block content %}

<div class="dashboard-container">
    <aside class="sidebar">
        <ul>
            <li><a href="/dashboard/members/add" id="add-members">Add Member</a></li>
            <li><a href="/dashboard/members" id="view-members">View Members</a></li>
            <li><a href="/dashboard/trainers/add" id="add-trainer">Add Trainer</a></li>
            <li><a href="/dashboard/trainers" id="view-trainers">View Trainers</a></li>
            <li><a href="/dashboard/classes/add" id="add-classes">Add Classes</a></li>
            <li><a href="/dashboard/classes" id="view-classes">View Classes</a></li>
            <li><a href="/dashboard/payments/add" id="payments">Add Payments</a></li>
            <li><a href="/dashboard/payments" id="payments">View Payments</a></li>
            <li><a href="/dashboard/equipments" id="equipment">View Equipment</a></li>
        </ul>
    </aside>
    <main class="content" id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p style="color: rgb(253, 16, 16);text-align:center;">{{messages[0]}}</p>
        {% endif %}
        {% endwith %}
        {% block main %}
        <h2>Welcome to the Gym Management Dashboard</h2>
        <p>Select an option from the menu to get started.</p>
        {% endblock %}
    </main>
</div>

{% endblock %}