{% extends 'dashboard.html' %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/viewmember.css')}}">
{% endblock %}
{% block main %}
<h2>Trainer Information</h2>
<table class="member-table" cellpadding=5 cellspacing=5 border="2px">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{trainer['name']}}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{trainer['email']}}</td>
        </tr>
        <tr>
            <td><strong>Phone Number</strong></td>
            <td>{{trainer['phno']}}</td>
        </tr>
        <tr>
            <td><strong>Speciality</strong></td>
            <td>{{trainer['speciality']}}</td>
        </tr>

    </tbody>
</table>

<a class="remove-link" href="/dashboard/trainers/{{trainer['_id']}}/delete"><button type="submit">Remove
        trainer</button></a>
{% endblock %}