{% extends "dashboard.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/viewmembers.css') }}">
{% endblock %}
{% block main %}
<h2>All Classes</h2>
<small>Heres the list of all the classes!</small>

<table class="members-table" cellspacing=5 cellpadding=5 border="1px">
    <thead>
        <tr>
            <th>Name</th>
            <th>Schedule</th>
            <th>duration</th>
            <th>trainer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for class in classes %}
        <tr>
            <td>
                {{class["name"]}}
            </td>
            <td>
                {{class["schedule"]}}
            </td>
            <td>
                {{class["duration"]}}
            </td>
            <td>
                {% for trainer in trainers %}
                {% if trainer["_id"] == class["trainer_id"] %}
                {{trainer["name"]}}
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <button>View</button>
                </a>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}