.container {
    color: #fff;
    font-size: 40px;
    border: 2px solid;
    box-shadow: 0px 3px 2px 0px;
    padding: 1.1em;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(8px);
}