form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}


.form-group input:focus {
    border-color: rgb(82, 35, 35);
    outline: none;
}

.form-group select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none;
    /* Removes default arrow in some browsers */
    -webkit-appearance: none;
    /* Safari and Chrome */
    -moz-appearance: none;
    /* Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group select:focus {
    border-color: rgb(82, 35, 35);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: rgb(82, 35, 35);
    color: #fff;
    border: 1px solid rgb(82, 35, 35);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid rgb(82, 35, 35);
}