.dashboard-container {
    display: flex;
    margin-top: 3.5rem;
    height: 80vh;
    width: 75%;
    backdrop-filter: 2px;
    overflow: hidden;
}

.sidebar {
    width: 25%;
    background: rgba(82, 35, 35, 0.81);
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    background: #fff;
    padding: 20px;
    overflow-y: scroll;
    width: 75%;
}

.content h2 {
    margin-top: 0;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content form label,
.content form select,
.content form button {
    margin: 10px 0;
}